.zy-form {
    display: flex;
    flex-direction: column;
    border-top: 1px solid var(--sub-primary-color);
}


.zy-form-head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border: 1px solid var(--border-color);
    background-color: var(--sub-primary-color);
}

.zy-form-head-info {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.zy-form-head-info-title {
    font-size: 18px;
    font-weight: bold;
    color: var(--text-color);
}

.zy-form-head-info-content {
    font-size: 14px;
    display: flex;
    margin-top: 10px;
    flex-direction: row;
}

.zy-form-head-info-content-item {
    margin-right: 40px;
    color: var(--text-info-color);
}

.zy-form-group {
    display: flex;
    flex-direction: column;
}

.zy-form-group-head {
    height: 46px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-left: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
}

.zy-form-group-head-title {
    padding-left: 10px;
    font-size: 14px;
    font-weight: bold;
    align-items: center;
    display: flex;
    color: var(--primary-color);

    & span {
        margin-left: 10px;
    }
}

.zy-form-group-table {
    & table {
        border-collapse: collapse;
        width: 100%;
        border: 1px solid var(--border-color);
        table-layout: fixed;
        border-spacing: 1px;
    }

    & td {
        border: 1px solid var(--border-color);
        height: 1px;
    }
}

.zy-form-group-head-title::before {
    content: '';
    width: 3px;
    height: 16px;
    background: #1768B4;
    display: inline-block;
}


.zy-form-group-row {
    color: var(--text-info-color);
}

.zy-form-group-row-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    margin: -1px;

}

.zy-form-group-row-head {
    flex-shrink: 0;
    font-weight: bold;
    color: var(--text-color);
    font-size: 14px;
    height: calc(100% + 2px);
    display: flex;
    align-items: center;
    background-color: var(--sub-primary-color);
    padding-left: 20px;
    padding-right: 20px;
    margin-top: -1px;
    margin-bottom: -1px;
    border-right: 1px solid var(--border-color);
}

.zy-form-group-row-content {
    padding: 13px 20px;
    background-color: #fff;
    width: 100%;
    word-break: break-all;
    font-size: 14px;
}