.zy-verify-number {
    display: flex;
    align-items: center;

    & input {
        margin-left: 10px;
        width: 80px;
        height: 30px;
        border-radius: 6px;
        border: 1px solid var(--border-color);
        outline: none;
        font-size: 12px;
        text-indent: 10px;
        letter-spacing: 2px;
        box-sizing: border-box;
    }
}

.zy-verify-number-success {
    color: darkgreen;
    margin-left: 10px;
    font-size: 14px;
}

.zy-verify-number-fail {
    color: red;
    margin-left: 10px;
    font-size: 14px;
}